.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); */
  width: 500px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  height: 300px;
  transform: translateY(-50%);
  background-color: #ffffffd1;
}
.otpInputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.otpInput {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  color: rgba(37, 35, 60);
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
  outline: none;
  width: 230px;
  margin: 0 5px;
}

.otpInput:focus {
  border-color: rgba(37, 35, 60);
}

.button {
  width: 250px;
  padding: 9px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(37, 35, 60);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(37, 35, 60);
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #efecec;
  color: rgba(37, 35, 60);
  font-weight: bold;
}

.otpMessage {
  font-size: 16px;
  color: rgba(37, 35, 60);
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}