.first {
    background-color: rgba(255, 255, 255, 0.2);
    width: 96%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 1rem;
    padding: 1rem;
    border: solid 1px white;
    border-radius: 20px;
}

.etaps {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.gameCard {
    width: 60%;
    height: 200px;
    display: flex;
    border: solid 1px white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    @media (max-width: 1900px) {
        width: 90%; 
    }
}

.player {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.userImage {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: flex;
        width: 80px;
        height: 80px;
        border-radius: 100px;
    }
}

.userName {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 25px;
        color: white;
    }
}

.vs {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 25px;
        color: white;
    }
}

.winPlayer {
    width: 60%;
    height: 150px;
    border: solid 1px white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    @media (max-width: 1024px) {
        height: 100px;
    }
} 

@media (max-width: 1280px) {
    .gameCard {
        height: 150px;
    }
    .player {
        width: 40%;
    }
    .userImage {
        img {
            width: 60px;
            height: 60px;
        }
    }
    .userName {
        p {
            font-size: 20px;
        }
    }
    .vs {
        width: 20%;
    }
}

@media (max-width: 1024px) {
    .gameCard {
        height: 100px;
    }
    .userImage {
        img {
            width: 50px;
            height: 50px;
        }
    }
    .userName {
        p {
            font-size: 16px;
        }
    }
}
