.first {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .search {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #009900;
    .ss {
      width: 70%;
      height: 60px;
      position: relative;
      border-radius: 30px;
      box-shadow: 4px 4px 8px black;
      .input {
        width: 100%;
        height: 60px;
        display: block;
        border-radius: 30px;
        padding-left: 20px;
        font-size: 25px;
        outline: none;
        border: none;
        color: white;
        background: rgba(255, 255, 255, 0.2);
      }
      .button {
        position: absolute;
        right: -5px;
        top: 0;
        width: 70px;
        height: 100%;
        background: linear-gradient(90deg, rgb(198, 0, 248), grey);
        color: white;
        border-radius: 50%;
        font-size: 40px;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          color: #25233c;
        }
      }
    }
    .searchRes {
      width: 70%;
      position: absolute;
      top: 100%;
      z-index: 999;
      display: flex;
      flex-direction: column;
      .searchCard {
        width: 50%;
        height: 50px;
        background-color: #25233c;
        display: flex;
      }
      .Simage {
        width: 80px;
        background-color: #25233c;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          border-radius: 40px;
        }
      }
    }
    @media (max-width: 1024px) {
      height: 10%;
      .ss {
        height: 40px;
        .input {
          height: 40px;
          font-size: 15px;
        }
        .button {
          width: 50px;
          .icon {
            font-size: 20px;
          }
        }
      }
    }
  }
  .userData {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    .user {
      width: 50%;
      height: 100%;
      display: flex;
      gap: 5%;
      .Image {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .imgStl {
          width: 200px;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          .rndOnli {
            background-color: #009900;
            border: solid 1px rgba(255, 255, 255, 0.5);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            right: 5%;
            top: 18%;
          }
          img {
            border: solid 2px rgba(255, 255, 255, 0.3);
            width: 200px;
            height: 200px;
            border-radius: 300px;
          }
        }
      }
      .Name {
        color: white;
        font-size: 35px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3%;
        .onlign {
          gap: 10px;
          display: flex;
          align-items: center;
          .rnd {
            width: 15px;
            height: 15px;
            background-color: aliceblue;
            border-radius: 20px;
            background-color: green;
          }
          #online {
            font-size: 25px;
          }
        }
      }
    }
    .statistic {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .sttcStyl {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        color: white;
        .res {
          flex: 1;
          display: flex;
          .aspects {
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
          }
          .Name {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
          }
        }
      }
    }
    @media (max-width: 1800px) {
      .user {
        .Image {
          .imgStl {
            width: 150px;
            height: 150px;
            img {
              width: 100%;
              height: 100%;
            }
            @media (max-width: 1400px) {
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .Name {
          font-size: 25px;
        }
      }
      .statistic {
        .sttcStyl {
          .res {
            .aspects {
              font-size: 40px;
            }
            .Name {
              font-size: 25px;
            }
          }
        }
      }
    }
    @media (max-width: 1280px) {
      flex-direction: column;
      .user {
        gap: 0px;
        width: 100%;
        .Image {
          flex: 1;
        }
        .Name {
          flex: 1;
        }
      }
      .statistic {
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      overflow: auto;
      .user {
        .Image {
          .imgStl {
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .Name {
          font-size: 18px;
          .onlign {
            #online {
              font-size: 15px;
            }
          }
        }
        @media (max-width: 640px) {
          .Image {
            .imgStl {
              width: 100px;
              height: 100px;
              .rndOnli {
                width: 15px;
                height: 15px;
              }
            }
            .Name {
              .onlign {
                #online {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
      .statistic {
        .sttcStyl {
          .res {
            .aspects {
              font-size: 30px;
            }
            .Name {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .level {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .externFrame {
      width: 70%;
      height: 60%;
      border-radius: 50px;
      color: white;
      background: rgba(255, 255, 255, 0.2);
      overflow: hidden;
      .percentage {
        flex: 1;
        height: 100%;
        background: linear-gradient(to right, #00ff0036, #00cc0090, #009900);
        border-radius: 50px;
      }
    }
    p {
      position: absolute;
      right: 50%;
      color: white;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 768px) {
    .search {
      .ss {
        width: 90%;
      }
    }
    .userData {
      width: 100%;
    }
    .level {
      height: 10%;
      .externFrame {
        width: 100%;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

.sett {
  width: 100%;
  height: 90%;
  /* background-color: white; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 20px;
}

.buttonDiv {
  display: flex;
  justify-content: end;
  width: 90%;
  height: 30px;
}

.setButton {
  width: 30px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    padding: 1px;
  }
}

.settDisplay {
  /* background-color: #25233c; */
  width: 200px;
  height: 250px;
  border-radius: 20px 0 20px 20px;
  display: flex;
  padding: 1%;
  gap: 10px;
  flex-direction: column;
  /* border: 2px solid rgb(38, 6, 88); */
}

.Tmp {
  flex: 1;
  display: flex;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: black;
}

.setIcon {
  background-color: aliceblue;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.icons {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  color: white;
  cursor: pointer;
  &:hover {
    width: 70%;
    height: 70%;
  }
}

.setStr {
  flex: 1;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 20px;
    font-weight: 200;
    color: white;
  }
}

