* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
    position: relative;
    gap: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
}

.game_card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
}

.game_card img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ddd;
}

.game_card h1 {
    padding: 10px;
    font-size: 16px;
    color: #333;
}

.game_card:hover{
    transform: scale(1.10);
}

@media (max-width: 768px) {
    .game_card {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .game_card {
        width: 120px;
    }

    .game_card p {
        font-size: 14px;
    }
}
