.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ddd;
    margin-left: 200px; /* Adjust to match the width of the left nav */
    box-sizing: border-box;
}

.player-info {
    display: flex;
    align-items: center;
}
 
.player-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
