.Notification {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	/* background-color: #25233C; */
	overflow: auto;
    /* background: url('./assets//background.svg');
    background-size: cover;
    @media (max-width: 2400px) {
        background: url('./assets/background.svg') no-repeat center center;
        background-size: 200vh 200vh;
    } */
    &::-webkit-scrollbar {
        width: 10px;
        height: 100%;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.content {
	margin: 3%;
	width: 90%;
	height: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: aquamarine; */
}

.head h1  {
    text-align: center;
    font-size:50px;
    font-weight:300;
    letter-spacing:10px;
    text-transform: uppercase;
    display: grid;
    align-items: center;
    color: white;
    @media (max-width: 768px) {
        font-size:30px;
        font-weight:100;
        letter-spacing:4px;
    }
}

.cont {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    /* background-color: azure; */
    justify-content: center;
    align-items: center;
    .line {
        width: 80%;
        height: 2px;
        margin: 20px 0;
    }
}


.noti {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.Request {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
}

@media (max-width: 1024px) {
    .content {
        width: 100%;
    }
    .cont {
        .line {
            width: 100%;
        } 
    }
    .Request {
        width: 100%;
    }
    .noti {
        width: 100%;
    }
}

.title {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    color: white;
    h3{
        font-size: 30px;
        font-weight:300;
    }
    @media (max-width: 768px) {
        height: 10%;
        h3 {
            font-size:20px;
            font-weight:200;
            letter-spacing:3px;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    overflow: scroll;
    gap: 10px;
    position: relative;
    top: 10px;
    &::-webkit-scrollbar {
        width: 10px;
        height: 100%;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #7667D9;
    }
}

.notiCard {
    display: flex;
    align-items: center;
    width: 80%;
    height: 70px;
    min-height: 70px;
    border-radius: 30px;
    gap: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    @media (max-width: 1024px) {
        width: 100%;
    }
}

.userimage {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }
}

.Sender {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 25px;
        color: white;
        @media (max-width: 1124px) {
            font-size: 20px;
        }
    }
}

.Icon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    button {
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .Sender {
        p {
            font-size: 15px;
        }
    }
    .Icon {
        width: 25%;
        gap: 0%;
    }
}