.first {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.etaps {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.gameCard {
    width: 60%;
    height: 200px;
    display: flex;
    border: solid 1px white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    @media (max-width: 1900px) {
        width: 90%; 
    }
}

.player {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.userImage {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: flex;
        width: 80px;
        height: 80px;
        border-radius: 100px;
    }
}

.userName {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 25px;
        color: white;
    }
}

.vs {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 25px;
        color: white;
    }
}

.winPlayer {
    width: 200px;
    height: 150px;
    border: solid 1px white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    @media (max-width: 1024px) {
        height: 100px;
    }
}

@media (max-width: 1280px) {
    .gameCard {
        height: 150px;
    }
    .player {
        width: 40%;
    }
    .userImage {
        img {
            width: 60px;
            height: 60px;
        }
    }
    .userName {
        p {
            font-size: 20px;
        }
    }
    .vs {
        width: 20%;
    }
}

@media (max-width: 1024px) {
    .gameCard {
        height: 100px;
    }
    .userImage {
        img {
            width: 50px;
            height: 50px;
        }
    }
    .userName {
        p {
            font-size: 16px;
        }
    }
}

.last {
    width: 96%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    border: solid 2px white;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.play {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starting {
    width: 100%;
    height: 90%;
    margin: 2%;
    display: flex;
    gap: 20px;
}


.cnt {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20%;
}

.inp {
    width: 300px;
    height: 100px;
    border: solid 1px white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp input {
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 95%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    color: white;
    font-size: 25px;
}

.inp input::placeholder {
    color: white;
    font-style: italic;
}

@media (max-width: 1024px) {
    .inp {
        width: 200px;
        height: 70px;
    }
    .inp input {
        font-size: 20px;
    }
    
}

.matchBegin {
    width: 100%;
    height: 90%;
    margin: 2%;
    display: none;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.youWin {
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    overflow: hidden;
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.str {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: white;
        font-size: 25px;
    }
    @media (max-width: 1024px) {
        p {
            font-size: 20px;
        }
        
    }
}

.userWin {
    width: 70%;
    height: 100%;
}

.startCard {
    width: 40%;
    height: 95%;
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20%;
    border: solid 1px white;
    border-radius: 20px;
}
.startButton {
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 25px;
        color: white;
        cursor: pointer;
    }
    @media (max-width: 1024px) {
        width: 150px;
        height: 70px;
        button {
            font-size: 20px;
        }
        
    }
}

.matchFinal {
    width: 100%;
    height: 90%;
    margin: 2%;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.finalCard {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    h1, h2 {
        color: white;
    }
}

.winer {
    width: 300px;
    height: 200px;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Button {
    width: 300px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        border: solid 1px white;
        width: 80%;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.3);
        font-size: 35px;
        color: white;
        cursor: pointer;
        border-radius: 20px;
    }
}
